*{
    background-color: #b5adad;
    border: 1px solid black;
}
h1,h2{
    text-align: center;
}

.formulario{
    text-align: center;
}
label{
    display: inline-block;
    border: 2px solid white;
    width: 200px;
    height: 100px;
}

input[type=text]{
    color: red;
}